@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  border-color: theme('colors.border');
}

body {
  @apply bg-background text-foreground font-sans antialiased;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #CBD5E1;
  border-radius: 9999px;
}

.container-page {
  @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
}
